<head>
    <title>Emily's Dog Costumes - My Costumes</title>
    <meta name="description" content="Emily's Dog Costumes">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <div id="logo"><img src="static/logo.png"><h1>Emily's Dog Costumes</h1></div>
        <nav>
            <ul>
                <li><a href="/">Home</a>
                <li><a href="/services">Services</a>
                <li><a href="/costumes">Costumes</a>
            </ul>
        </nav>
    </header>


    {% for dict in costume_list %}
            <section id="pageContent">
                <main role="main">
                <article>
                    <h2>{{ dict["header"] }}</h2>
                    <img class="costume" src={{ dict["image"] }}>
                    <p>{{ dict["body"] }}</p>
                </article>
                </main>
            </section>
    {% endfor %}


    <footer>
        <p>&copy; All rights reserved to Emily, Dog Costume Extraordinaire</p>
        <address>
            Contact: <a href="mailto:emily@example.com">Emily, Dog Costumer</a>
        </address>
    </footer>
</body>