{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}{{ super() }} - services{% endblock %}
{% block body %}{{ super() }}
{% endblock %}
{% block navbar %}{{ super() }}{% endblock %}

{% block content %}{{ super() }}{% endblock %}
{% block page_content %}
{% for dict in costume_list %}
        <section id="pageContent">
            <main role="main">
            <article>
                <h2>{{ dict["header"] }}</h2>
                <img class="costume" src={{ dict["image"] }}>
                <p>{{ dict["body"] }}</p>
            </article>
            </main>
        </section>
{% endfor %}
{% endblock %}